* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
  background-color: #F9FAFB;
}

button {
  font-family: 'Inter';
  height: 39px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}