.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 640px;

  .form-header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h1 {
      font-size: 32px;
      line-height: 32px;
    }
  
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 21.78px;
    }
  }

  .form-container {
    .form-inputs {
      display: flex;
      flex-direction: column;
      gap: 8px;

      padding: 10px 0 10px 0;

      .form-control {
        padding: 0px 0px 16px 0px;

        input,
        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
        }

        input {
          display: flex;
          align-items: center;
      
          font-family: 'Inter';
          height: 32px;
          border: 1px solid #E5E7EB;
          border-radius: 4px;
          padding-left: 8px;
          outline: 1px solid transparent;

          transition: all 0.3s ease-in-out;
        }
        
        input:focus {
          outline: 1px solid #3B82F6;

          transition: all 0.3s ease-in-out;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button,
        input[type=date]::-webkit-calendar-picker-indicator {
          margin-right: 8px;
      }

      .input-error {
        background-color: #FEF2F2;
        outline: none;
        border: 1px solid #FECACA;
        color: #EF4444;
      }

      .input-error:focus {
        outline: none;
      }
      
      .hidden-error-text {
        visibility: hidden;
        color: #EF4444;
        position: absolute;
        font-size: 10px;
        padding: 4px 8px 11px 9px; // должно быть не 4, а 0
      }
      
      .visible-error-text {
        visibility: visible;
      }
    }
    
      .form-insurance {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0px 0px 16px 0px;
      }

      .form-result {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .result-sum {
          font-weight: 600;
        }
      }
    }
  }

  .form-navigation-buttons {
  
    .form-next-button {
  
      .next-button {
        font-size: 16px;
        border-radius: 4px;
        background-color: #3B82F6;
        color: #FFFFFF;
        border: none;
    
        transition: all 0.5s ease-in-out;
    
        cursor: pointer;
      }
  
      .next-button:hover {
        background-color: #60A5FA;
        transition: all 0.5s ease-in-out;
      }
  
      .next-button:focus {
        outline: none;
        border: 2px solid #3B82F6;
        transition: all 0.5 ease-in-out;
      }

      .next-button:disabled {
        background-color: #D1D5DB;
      }
    }

    .form-previous-button {

      .previous-button {
        font-size: 16px;
        border-radius: 4px;
        background-color: #FFFFFF;
        color: #000000;
        border: none;
    
        transition: all 0.5s ease-in-out;
    
        cursor: pointer;
      }

      .previous-button:focus {
        outline: none;
        border: 2px solid #3B82F6;
      }

    }
  }

  .form-confirmation {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form-confirmation-data {
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 10px 0 10px 0;

      .confirmation-name {
        font-weight: 600;
      }

      .confirmation-sum {
        padding: 14px 0px 0px 0px;

        .input-error {
          background-color: #FECACA;
          color: #EF4444;
        }
        
        .hidden-error-text {
          visibility: hidden;
          color: #EF4444;
          position: absolute;
          font-size: 10px;
          padding: 4px 8px 11px 9px; // должно быть не 4, а 0
        }
        
        .visible-error-text {
          visibility: visible;
        }

        .confirmation-error {
          padding: 8px 8px 11px 0px;
        }
      }

      .confirmation-sum-number {
        font-weight: 600;
      }
    }
  }

  .lds-wrapper {
    align-self: center;
    padding-top: 14em;

    & + .form-confirmation {
      height: unset;
    }
  }

  .form-success-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: inherit;

    .form-success {
      display: flex;
      flex-direction: column;

      .success {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 228.5px;

        .success-image {
          width: 134px;
          height: 134px;
        }

        .success-text {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    .form-navigation-buttons {
      display: flex;
      flex-direction: column;

      .form-next-button {
        padding: 10px 0px 10px 0px;

        .last-button {
          width: -webkit-fill-available;
        }
      }

      .form-previous-button {
        padding: 0px 0px 10px 0px;
      }
    }
  }
}