.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 640px;

  .form-header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h1 {
      font-size: 32px;
      line-height: 32px;
    }
  
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 21.78px;
    }
  }

  .form-control {

    input,
    select {
      display: flex;
      align-items: center;
  
      font-family: 'Inter';
      height: 32px;
      border: 1px solid #E5E7EB;
      border-radius: 4px;
    }
  
    input {
      padding-left: 8px;
    }
  
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      margin-right: 8px;
  }
  
    select {
      padding-left: 4px;
    }
  }

  .form-insurance,
  .form-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-results {

    .result-sum {
      font-weight: 600;
    }
  
    .form-next-button {
  
      .next-button {
        font-size: 16px;
        line-height: 19.36px;
        width: -webkit-fill-available;
        border-radius: 4px;
        background-color: #3B82F6;
        color: #FFFFFF;
        border: none;
    
        transition: all 0.5s ease-in-out;
    
        cursor: pointer;
      }
  
      .next-button:hover {
        background-color: #60A5FA;
    
        transition: all 0.5s ease-in-out;
      }
  
      .next-button:focus {
        outline: none;
        border: 2px solid #3B82F6;
      }

      .next-button:disabled {
        background-color: #D1D5DB;
      }
    }

    .form-return-button {

      .return-button {
        font-size: 16px;
        line-height: 19.36px;
        width: -webkit-fill-available;
        border-radius: 4px;
        background-color: #FFFFFF;
        color: #000000;
        border: none;
    
        transition: all 0.5s ease-in-out;
    
        cursor: pointer;
      }

      .return-button:focus {
        outline: none;
        border: 2px solid #3B82F6;
      }

    }
  }
}

.hidden-error-text {
  visibility: hidden;
  color: #EF4444;
  position: absolute;
  font-size: 10px;
  padding: 4px 8px 11px 8px; // должно быть не 4, а 0
}

.visible-error-text {
  visibility: visible;
}

.confirmation-error {
  padding: 14px 8px 11px 0px;
}